In [1]:
import pandas as pd
import numpy as np
from sklearn import pipeline, preprocessing, metrics, model_selection, ensemble
from sklearn_pandas import DataFrameMapper
from sklearn.impute import SimpleImputer

In [2]:
data = pd.read_csv('car-mpg.csv')
data.head()

,mpg,cyl,disp,hp,wt,acc,yr,origin,car_type,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,0,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,0,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,0,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,0,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,0,ford torino

In [3]:
data.tail()

      mpg  cyl   disp  hp    wt   acc  yr  origin  car_type         car_name
393  27.0    4  140.0  86  2790  15.6  82       1         1  ford mustang gl
394  44.0    4   97.0  52  2130  24.6  82       2         1        vw pickup
395  32.0    4  135.0  84  2295  11.6  82       1         1    dodge rampage
396  28.0    4  120.0  79  2625  18.6  82       1         1      ford ranger
397  31.0    4  119.0  82  2720  19.4  82       1         1       chevy s-10

In [4]:
data.isnull().sum()

mpg         0
cyl         0
disp        0
hp          0
wt          0
acc         0
yr          0
origin      0
car_type    0
car_name    0
dtype: int64

In [5]:
data = data.drop('car_type', axis = 1)

In [6]:
mapper = DataFrameMapper([
                        (['cyl','disp','wt','acc','yr'], preprocessing.StandardScaler()),
                        (['origin'], preprocessing.OneHotEncoder())
                        ])

In [7]:
pipeline_obj = pipeline.Pipeline([
    ('mapper', mapper),
    ('model', ensemble.RandomForestRegressor())
])

In [8]:
data.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'wt', 'acc', 'yr', 'origin', 'car_name'], dtype='object')

In [9]:
X = ['cyl', 'disp', 'hp', 'wt', 'acc', 'yr', 'origin', 'car_name']
y = ['mpg']

In [10]:
pipeline_obj.fit(data[X], data[y])

F:\ancnd\lib\site-packages\sklearn\pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cyl', 'disp', 'wt', 'acc', 'yr'],
                                            StandardScaler()),
                                           (['origin'], OneHotEncoder())])),
                ('model', RandomForestRegressor())])

In [11]:
pipeline_obj.predict(data[X])

array([17.33 , 14.65 , 16.91 , 16.34 , 16.983, 14.46 , 13.86 , 14.19 ,
       13.3  , 14.82 , 14.84 , 14.34 , 14.99 , 14.62 , 23.89 , 21.086,
       19.193, 20.62 , 27.11 , 26.732, 24.32 , 24.429, 24.809, 25.224,
       20.573, 10.55 , 11.155, 11.73 , 10.04 , 27.13 , 26.465, 24.972,
       26.165, 19.397, 16.592, 17.32 , 18.67 , 18.26 , 13.88 , 13.38 ,
       14.16 , 14.18 , 12.11 , 12.94 , 12.56 , 18.1  , 21.78 , 18.68 ,
       18.09 , 23.764, 27.025, 29.605, 29.44 , 31.32 , 33.59 , 27.297,
       26.65 , 24.724, 25.515, 23.006, 20.58 , 22.48 , 13.36 , 13.55 ,
       14.55 , 13.995, 16.29 , 11.96 , 12.6  , 12.31 , 13.06 , 20.545,
       14.96 , 13.665, 13.24 , 14.015, 19.2  , 22.23 , 20.62 , 26.01 ,
       22.475, 26.54 , 22.605, 27.245, 26.765, 13.49 , 14.84 , 13.42 ,
       14.09 , 14.53 , 12.04 , 13.115, 13.29 , 13.985, 12.51 , 12.11 ,
       13.17 , 18.483, 16.655, 18.29 , 17.77 , 21.914, 26.36 , 11.34 ,
       12.13 , 12.79 , 12.35 , 18.37 , 21.76 , 20.82 , 22.78 , 21.921,
       20.512, 21.626, 25.74 , 14.39 , 15.215, 28.78 , 24.675, 21.505,
       19.767, 14.68 , 22.89 , 20.425, 12.24 , 20.097, 20.671, 19.194,
       15.985, 31.035, 25.112, 31.615, 24.621, 16.   , 16.04 , 17.802,
       15.23 , 13.25 , 13.975, 13.74 , 14.272, 27.894, 27.54 , 26.104,
       31.997, 31.645, 27.555, 25.2  , 25.83 , 24.209, 25.504, 30.175,
       19.48 , 17.516, 15.626, 15.971, 15.26 , 14.92 , 15.305, 14.415,
       17.027, 15.925, 15.412, 17.341, 20.603, 20.065, 14.919, 28.385,
       23.442, 19.764, 22.64 , 24.116, 25.609, 24.032, 19.109, 28.81 ,
       18.886, 23.484, 22.302, 21.439, 24.33 , 32.47 , 26.531, 25.19 ,
       25.08 , 26.034, 27.265, 16.62 , 15.755, 15.08 , 14.865, 21.451,
       20.475, 22.713, 21.593, 29.611, 25.941, 29.055, 32.57 , 19.595,
       18.287, 18.451, 18.473, 29.46 , 31.85 , 28.055, 25.84 , 20.295,
       13.875, 19.948, 19.858, 16.936, 15.83 , 13.945, 13.966, 13.834,
       31.33 , 29.631, 33.86 , 25.386, 32.843, 16.743, 16.991, 15.635,
       15.22 , 17.944, 20.356, 19.123, 18.376, 15.905, 15.624, 15.714,
       15.731, 29.569, 24.5  , 25.259, 25.06 , 30.805, 32.045, 30.785,
       29.766, 21.678, 22.586, 22.564, 40.365, 35.798, 34.   , 37.072,
       35.512, 19.484, 18.991, 19.751, 18.99 , 20.496, 20.706, 24.819,
       19.939, 19.762, 20.473, 20.733, 18.73 , 18.622, 19.219, 18.243,
       17.958, 16.955, 30.534, 25.387, 27.331, 29.637, 22.914, 23.716,
       23.122, 24.513, 21.494, 17.731, 21.989, 17.144, 32.366, 30.802,
       21.2  , 21.307, 23.423, 20.254, 20.449, 17.663, 18.311, 17.217,
       18.06 , 16.507, 15.893, 20.119, 17.981, 33.509, 34.11 , 35.161,
       28.026, 25.311, 21.079, 26.874, 22.219, 34.826, 34.561, 34.249,
       37.128, 27.729, 27.751, 26.183, 31.163, 39.095, 37.541, 33.597,
       37.307, 27.8  , 25.638, 25.118, 20.575, 34.393, 29.73 , 31.568,
       35.124, 32.915, 43.248, 27.226, 41.085, 42.925, 41.633, 33.594,
       29.053, 40.391, 39.088, 35.724, 33.124, 29.735, 29.11 , 34.147,
       24.252, 33.011, 28.595, 26.924, 26.321, 24.804, 31.24 , 38.305,
       38.171, 36.25 , 34.283, 37.3  , 36.693, 34.358, 34.43 , 34.664,
       32.45 , 33.71 , 34.311, 34.119, 32.895, 32.455, 31.138, 28.417,
       27.631, 25.761, 25.312, 21.642, 24.185, 21.429, 18.736, 28.676,
       27.849, 32.881, 30.271, 29.231, 27.041, 24.974, 24.166, 35.248,
       36.702, 33.493, 37.093, 36.025, 36.016, 35.349, 34.009, 36.055,
       33.248, 36.673, 25.529, 30.642, 26.549, 24.532, 30.02 , 34.118,
       25.912, 26.761, 42.979, 32.321, 28.076, 29.894])

In [15]:
import joblib

In [16]:
joblib.dump(pipeline_obj, 'RF_MPG.pkl')

['RF_MPG.pkl']

In [17]:
model_reload = joblib.load('RF_MPG.pkl')

In [18]:
model_reload.predict(data[X])

array([17.33 , 14.65 , 16.91 , 16.34 , 16.983, 14.46 , 13.86 , 14.19 ,
       13.3  , 14.82 , 14.84 , 14.34 , 14.99 , 14.62 , 23.89 , 21.086,
       19.193, 20.62 , 27.11 , 26.732, 24.32 , 24.429, 24.809, 25.224,
       20.573, 10.55 , 11.155, 11.73 , 10.04 , 27.13 , 26.465, 24.972,
       26.165, 19.397, 16.592, 17.32 , 18.67 , 18.26 , 13.88 , 13.38 ,
       14.16 , 14.18 , 12.11 , 12.94 , 12.56 , 18.1  , 21.78 , 18.68 ,
       18.09 , 23.764, 27.025, 29.605, 29.44 , 31.32 , 33.59 , 27.297,
       26.65 , 24.724, 25.515, 23.006, 20.58 , 22.48 , 13.36 , 13.55 ,
       14.55 , 13.995, 16.29 , 11.96 , 12.6  , 12.31 , 13.06 , 20.545,
       14.96 , 13.665, 13.24 , 14.015, 19.2  , 22.23 , 20.62 , 26.01 ,
       22.475, 26.54 , 22.605, 27.245, 26.765, 13.49 , 14.84 , 13.42 ,
       14.09 , 14.53 , 12.04 , 13.115, 13.29 , 13.985, 12.51 , 12.11 ,
       13.17 , 18.483, 16.655, 18.29 , 17.77 , 21.914, 26.36 , 11.34 ,
       12.13 , 12.79 , 12.35 , 18.37 , 21.76 , 20.82 , 22.78 , 21.921,
       20.512, 21.626, 25.74 , 14.39 , 15.215, 28.78 , 24.675, 21.505,
       19.767, 14.68 , 22.89 , 20.425, 12.24 , 20.097, 20.671, 19.194,
       15.985, 31.035, 25.112, 31.615, 24.621, 16.   , 16.04 , 17.802,
       15.23 , 13.25 , 13.975, 13.74 , 14.272, 27.894, 27.54 , 26.104,
       31.997, 31.645, 27.555, 25.2  , 25.83 , 24.209, 25.504, 30.175,
       19.48 , 17.516, 15.626, 15.971, 15.26 , 14.92 , 15.305, 14.415,
       17.027, 15.925, 15.412, 17.341, 20.603, 20.065, 14.919, 28.385,
       23.442, 19.764, 22.64 , 24.116, 25.609, 24.032, 19.109, 28.81 ,
       18.886, 23.484, 22.302, 21.439, 24.33 , 32.47 , 26.531, 25.19 ,
       25.08 , 26.034, 27.265, 16.62 , 15.755, 15.08 , 14.865, 21.451,
       20.475, 22.713, 21.593, 29.611, 25.941, 29.055, 32.57 , 19.595,
       18.287, 18.451, 18.473, 29.46 , 31.85 , 28.055, 25.84 , 20.295,
       13.875, 19.948, 19.858, 16.936, 15.83 , 13.945, 13.966, 13.834,
       31.33 , 29.631, 33.86 , 25.386, 32.843, 16.743, 16.991, 15.635,
       15.22 , 17.944, 20.356, 19.123, 18.376, 15.905, 15.624, 15.714,
       15.731, 29.569, 24.5  , 25.259, 25.06 , 30.805, 32.045, 30.785,
       29.766, 21.678, 22.586, 22.564, 40.365, 35.798, 34.   , 37.072,
       35.512, 19.484, 18.991, 19.751, 18.99 , 20.496, 20.706, 24.819,
       19.939, 19.762, 20.473, 20.733, 18.73 , 18.622, 19.219, 18.243,
       17.958, 16.955, 30.534, 25.387, 27.331, 29.637, 22.914, 23.716,
       23.122, 24.513, 21.494, 17.731, 21.989, 17.144, 32.366, 30.802,
       21.2  , 21.307, 23.423, 20.254, 20.449, 17.663, 18.311, 17.217,
       18.06 , 16.507, 15.893, 20.119, 17.981, 33.509, 34.11 , 35.161,
       28.026, 25.311, 21.079, 26.874, 22.219, 34.826, 34.561, 34.249,
       37.128, 27.729, 27.751, 26.183, 31.163, 39.095, 37.541, 33.597,
       37.307, 27.8  , 25.638, 25.118, 20.575, 34.393, 29.73 , 31.568,
       35.124, 32.915, 43.248, 27.226, 41.085, 42.925, 41.633, 33.594,
       29.053, 40.391, 39.088, 35.724, 33.124, 29.735, 29.11 , 34.147,
       24.252, 33.011, 28.595, 26.924, 26.321, 24.804, 31.24 , 38.305,
       38.171, 36.25 , 34.283, 37.3  , 36.693, 34.358, 34.43 , 34.664,
       32.45 , 33.71 , 34.311, 34.119, 32.895, 32.455, 31.138, 28.417,
       27.631, 25.761, 25.312, 21.642, 24.185, 21.429, 18.736, 28.676,
       27.849, 32.881, 30.271, 29.231, 27.041, 24.974, 24.166, 35.248,
       36.702, 33.493, 37.093, 36.025, 36.016, 35.349, 34.009, 36.055,
       33.248, 36.673, 25.529, 30.642, 26.549, 24.532, 30.02 , 34.118,
       25.912, 26.761, 42.979, 32.321, 28.076, 29.894])