In [1]:
import pandas as pd
import numpy as np
from sklearn import pipeline, preprocessing, metrics, model_selection, ensemble
from sklearn_pandas import DataFrameMapper
from sklearn.impute import SimpleImputer

In [2]:
data = pd.read_csv('car-mpg.csv')
data.head()

,mpg,cyl,disp,hp,wt,acc,yr,origin,car_type,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,0,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,0,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,0,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,0,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,0,ford torino

In [3]:
data.tail()

      mpg  cyl   disp  hp    wt   acc  yr  origin  car_type         car_name
393  27.0    4  140.0  86  2790  15.6  82       1         1  ford mustang gl
394  44.0    4   97.0  52  2130  24.6  82       2         1        vw pickup
395  32.0    4  135.0  84  2295  11.6  82       1         1    dodge rampage
396  28.0    4  120.0  79  2625  18.6  82       1         1      ford ranger
397  31.0    4  119.0  82  2720  19.4  82       1         1       chevy s-10

In [4]:
data.isnull().sum()

mpg         0
cyl         0
disp        0
hp          0
wt          0
acc         0
yr          0
origin      0
car_type    0
car_name    0
dtype: int64

In [5]:
data = data.drop('car_type', axis = 1)

In [6]:
mapper = DataFrameMapper([
                        (['cyl','disp','wt','acc','yr'], preprocessing.StandardScaler()),
                        (['origin'], preprocessing.OneHotEncoder(handle_unknown='ignore'))
                        ])

In [7]:
pipeline_obj = pipeline.Pipeline([
    ('mapper', mapper),
    ('model', ensemble.RandomForestRegressor())
])

In [8]:
data.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'wt', 'acc', 'yr', 'origin', 'car_name'], dtype='object')

In [9]:
X = ['cyl', 'disp', 'hp', 'wt', 'acc', 'yr', 'origin', 'car_name']
y = ['mpg']

In [10]:
pipeline_obj.fit(data[X], data[y])

F:\ancnd\lib\site-packages\sklearn\pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cyl', 'disp', 'wt', 'acc', 'yr'],
                                            StandardScaler()),
                                           (['origin'],
                                            OneHotEncoder(handle_unknown='ignore'))])),
                ('model', RandomForestRegressor())])

In [11]:
pipeline_obj.predict(data[X])

array([17.39 , 14.89 , 17.151, 16.57 , 16.86 , 14.5  , 13.83 , 14.21 ,
       13.27 , 14.91 , 14.88 , 14.36 , 15.01 , 14.723, 24.028, 21.24 ,
       19.445, 20.828, 26.99 , 26.45 , 24.545, 24.578, 25.059, 25.195,
       20.818, 10.63 , 11.11 , 11.87 , 10.176, 26.99 , 26.59 , 24.89 ,
       26.325, 19.575, 16.745, 17.491, 18.701, 18.23 , 13.895, 13.54 ,
       14.13 , 14.04 , 12.29 , 12.93 , 12.56 , 18.135, 21.721, 18.771,
       18.095, 23.85 , 26.93 , 29.595, 29.25 , 31.35 , 33.14 , 27.26 ,
       26.635, 24.38 , 25.635, 23.095, 20.59 , 22.335, 13.345, 13.55 ,
       14.54 , 14.02 , 15.98 , 11.82 , 12.72 , 12.31 , 13.18 , 20.328,
       14.915, 13.485, 13.24 , 14.   , 19.26 , 22.326, 20.638, 26.105,
       22.52 , 26.58 , 22.939, 27.05 , 26.73 , 13.41 , 14.77 , 13.42 ,
       14.135, 14.58 , 12.08 , 13.13 , 13.155, 14.07 , 12.57 , 12.03 ,
       13.6  , 18.564, 16.402, 18.39 , 17.97 , 22.002, 26.33 , 11.56 ,
       12.13 , 12.86 , 12.4  , 18.61 , 22.02 , 20.75 , 23.198, 21.545,
       20.459, 21.331, 26.12 , 14.19 , 15.015, 28.77 , 24.98 , 21.785,
       19.836, 15.111, 23.331, 20.337, 12.39 , 20.29 , 20.865, 19.26 ,
       15.916, 31.108, 25.268, 31.403, 24.63 , 15.91 , 16.03 , 18.026,
       15.37 , 13.37 , 14.   , 13.707, 14.187, 27.719, 27.365, 26.245,
       32.027, 31.66 , 27.31 , 24.97 , 25.792, 24.113, 25.659, 29.975,
       19.295, 17.482, 15.425, 15.879, 15.11 , 14.975, 15.335, 14.3  ,
       17.247, 16.105, 15.51 , 17.546, 20.522, 18.925, 14.816, 28.51 ,
       23.458, 19.885, 22.461, 24.082, 25.774, 23.931, 18.914, 28.915,
       18.786, 23.545, 22.46 , 21.393, 24.581, 32.492, 26.883, 25.211,
       25.044, 26.105, 26.998, 16.725, 15.785, 14.975, 14.88 , 21.554,
       20.606, 23.196, 21.389, 30.141, 25.886, 29.03 , 32.672, 19.26 ,
       18.112, 18.323, 18.204, 29.21 , 31.967, 28.283, 25.971, 20.331,
       13.64 , 19.964, 19.547, 17.036, 15.815, 13.85 , 13.763, 13.554,
       31.629, 29.285, 34.048, 25.656, 33.048, 16.813, 17.1  , 15.628,
       15.514, 17.992, 20.39 , 19.076, 18.35 , 15.785, 15.599, 15.689,
       15.77 , 29.363, 24.4  , 26.035, 24.688, 30.644, 32.214, 30.474,
       29.536, 21.515, 23.002, 22.322, 40.859, 35.267, 34.004, 37.769,
       35.331, 19.56 , 19.027, 19.572, 19.062, 20.54 , 20.386, 24.846,
       20.182, 19.799, 20.55 , 20.785, 18.821, 18.852, 19.122, 18.428,
       18.374, 16.985, 30.539, 26.053, 27.209, 30.077, 23.484, 23.432,
       23.078, 24.704, 21.552, 17.523, 22.48 , 17.099, 32.692, 30.589,
       21.258, 20.954, 23.74 , 20.281, 20.483, 17.496, 18.232, 16.902,
       18.114, 16.539, 15.975, 20.046, 17.76 , 35.774, 34.624, 35.662,
       28.321, 25.073, 21.238, 27.164, 22.624, 34.912, 34.992, 34.071,
       37.403, 28.089, 27.572, 25.844, 31.853, 38.702, 36.905, 33.695,
       36.879, 27.872, 25.642, 24.756, 20.062, 34.153, 29.845, 31.897,
       34.961, 33.077, 42.342, 26.719, 40.634, 43.581, 40.465, 32.708,
       29.143, 41.085, 39.127, 35.435, 32.451, 30.183, 28.75 , 34.36 ,
       24.15 , 32.704, 28.291, 26.87 , 26.224, 24.544, 30.814, 37.858,
       37.753, 35.687, 33.525, 36.979, 36.607, 34.972, 34.552, 34.408,
       32.756, 33.873, 34.137, 34.141, 32.62 , 32.483, 31.196, 28.412,
       27.299, 25.781, 25.369, 21.599, 24.216, 21.399, 18.877, 28.786,
       28.148, 32.983, 30.279, 29.053, 27.136, 24.665, 24.331, 35.784,
       36.526, 32.609, 37.682, 35.83 , 35.899, 35.349, 33.766, 36.405,
       33.883, 36.846, 25.097, 31.516, 26.768, 24.264, 30.345, 33.899,
       25.882, 26.727, 43.196, 32.506, 28.392, 29.601])

In [12]:
import joblib

In [13]:
joblib.dump(pipeline_obj, 'RF_MPG.pkl')

['RF_MPG.pkl']

In [14]:
reloadModel = joblib.load('RF_MPG.pkl')

In [15]:
reloadModel.predict(data[X])

array([17.39 , 14.89 , 17.151, 16.57 , 16.86 , 14.5  , 13.83 , 14.21 ,
       13.27 , 14.91 , 14.88 , 14.36 , 15.01 , 14.723, 24.028, 21.24 ,
       19.445, 20.828, 26.99 , 26.45 , 24.545, 24.578, 25.059, 25.195,
       20.818, 10.63 , 11.11 , 11.87 , 10.176, 26.99 , 26.59 , 24.89 ,
       26.325, 19.575, 16.745, 17.491, 18.701, 18.23 , 13.895, 13.54 ,
       14.13 , 14.04 , 12.29 , 12.93 , 12.56 , 18.135, 21.721, 18.771,
       18.095, 23.85 , 26.93 , 29.595, 29.25 , 31.35 , 33.14 , 27.26 ,
       26.635, 24.38 , 25.635, 23.095, 20.59 , 22.335, 13.345, 13.55 ,
       14.54 , 14.02 , 15.98 , 11.82 , 12.72 , 12.31 , 13.18 , 20.328,
       14.915, 13.485, 13.24 , 14.   , 19.26 , 22.326, 20.638, 26.105,
       22.52 , 26.58 , 22.939, 27.05 , 26.73 , 13.41 , 14.77 , 13.42 ,
       14.135, 14.58 , 12.08 , 13.13 , 13.155, 14.07 , 12.57 , 12.03 ,
       13.6  , 18.564, 16.402, 18.39 , 17.97 , 22.002, 26.33 , 11.56 ,
       12.13 , 12.86 , 12.4  , 18.61 , 22.02 , 20.75 , 23.198, 21.545,
       20.459, 21.331, 26.12 , 14.19 , 15.015, 28.77 , 24.98 , 21.785,
       19.836, 15.111, 23.331, 20.337, 12.39 , 20.29 , 20.865, 19.26 ,
       15.916, 31.108, 25.268, 31.403, 24.63 , 15.91 , 16.03 , 18.026,
       15.37 , 13.37 , 14.   , 13.707, 14.187, 27.719, 27.365, 26.245,
       32.027, 31.66 , 27.31 , 24.97 , 25.792, 24.113, 25.659, 29.975,
       19.295, 17.482, 15.425, 15.879, 15.11 , 14.975, 15.335, 14.3  ,
       17.247, 16.105, 15.51 , 17.546, 20.522, 18.925, 14.816, 28.51 ,
       23.458, 19.885, 22.461, 24.082, 25.774, 23.931, 18.914, 28.915,
       18.786, 23.545, 22.46 , 21.393, 24.581, 32.492, 26.883, 25.211,
       25.044, 26.105, 26.998, 16.725, 15.785, 14.975, 14.88 , 21.554,
       20.606, 23.196, 21.389, 30.141, 25.886, 29.03 , 32.672, 19.26 ,
       18.112, 18.323, 18.204, 29.21 , 31.967, 28.283, 25.971, 20.331,
       13.64 , 19.964, 19.547, 17.036, 15.815, 13.85 , 13.763, 13.554,
       31.629, 29.285, 34.048, 25.656, 33.048, 16.813, 17.1  , 15.628,
       15.514, 17.992, 20.39 , 19.076, 18.35 , 15.785, 15.599, 15.689,
       15.77 , 29.363, 24.4  , 26.035, 24.688, 30.644, 32.214, 30.474,
       29.536, 21.515, 23.002, 22.322, 40.859, 35.267, 34.004, 37.769,
       35.331, 19.56 , 19.027, 19.572, 19.062, 20.54 , 20.386, 24.846,
       20.182, 19.799, 20.55 , 20.785, 18.821, 18.852, 19.122, 18.428,
       18.374, 16.985, 30.539, 26.053, 27.209, 30.077, 23.484, 23.432,
       23.078, 24.704, 21.552, 17.523, 22.48 , 17.099, 32.692, 30.589,
       21.258, 20.954, 23.74 , 20.281, 20.483, 17.496, 18.232, 16.902,
       18.114, 16.539, 15.975, 20.046, 17.76 , 35.774, 34.624, 35.662,
       28.321, 25.073, 21.238, 27.164, 22.624, 34.912, 34.992, 34.071,
       37.403, 28.089, 27.572, 25.844, 31.853, 38.702, 36.905, 33.695,
       36.879, 27.872, 25.642, 24.756, 20.062, 34.153, 29.845, 31.897,
       34.961, 33.077, 42.342, 26.719, 40.634, 43.581, 40.465, 32.708,
       29.143, 41.085, 39.127, 35.435, 32.451, 30.183, 28.75 , 34.36 ,
       24.15 , 32.704, 28.291, 26.87 , 26.224, 24.544, 30.814, 37.858,
       37.753, 35.687, 33.525, 36.979, 36.607, 34.972, 34.552, 34.408,
       32.756, 33.873, 34.137, 34.141, 32.62 , 32.483, 31.196, 28.412,
       27.299, 25.781, 25.369, 21.599, 24.216, 21.399, 18.877, 28.786,
       28.148, 32.983, 30.279, 29.053, 27.136, 24.665, 24.331, 35.784,
       36.526, 32.609, 37.682, 35.83 , 35.899, 35.349, 33.766, 36.405,
       33.883, 36.846, 25.097, 31.516, 26.768, 24.264, 30.345, 33.899,
       25.882, 26.727, 43.196, 32.506, 28.392, 29.601])

In [16]:
temp = {}
temp['cyl'] = 1
temp['disp'] = 2
temp['hp'] = 3
temp['wt'] = 4
temp['acc'] = 5
temp['yr'] = 6
temp['origin'] = 1

In [17]:
testData = pd.DataFrame({'x':temp}).transpose()

In [18]:
testData

   acc  cyl  disp  hp  origin  wt  yr
x    5    1     2   3       1   4   6

In [19]:
reloadModel.predict(testData)[0]

29.256